*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store
/contrib/vstudio/vc14/.vs/zlibvc/v17
/contrib/vstudio/vc14/.vs/zlibvc/FileContentIndex
/contrib/vstudio/vc14/x64
/contrib/vstudio/vc14/x86
*.user
*.obj
*.exe
*.pdb
*.gz
*.exp
*.lib
*.dll
*.res
